<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    认识实习作业<br>
    程序构成，维护：江明奕<br>
    文本构成：张杨<br>
    素材收集：张扬宁<br>
    特别鸣谢：Myaki
    <!-- 自行配置公告内容结束 -->
</div>
